

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

 
    <title>Cats</title>
</head>
<body>
    <div id="container">
        <h1>Cats</h1>
        <a href="/nibbles"><img src="cat1.jpg"></a>
        <a href="/cuddles"><img src="cat2.jpg"></a>
        <a href="/chester"><img src="cat3.jpg"></a>
    </div>


</body>

</html>